<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body ng-cloak>
<div ng-controller="firstCtrl">
    <!--参数是字符串，将全文搜索‘a’关键字-->
    <input type="text" ng-model="youName">
    <div ng-repeat="item in ary">
        <p>Name:{{item.name}}</p>
        <p>Age:{{item.age}}</p>
    </div>
    <!--my name is {{name | myReverse :true}}-->
    <input ng-model="userInput"> Uppercased: {{ userInput | uppercase }}


</div>
<script charset="utf-8" type="text/javascript">
    angular.module("myApp", [])
        .controller('firstCtrl', ['$scope', function ($scope) {
            $scope.name = "Nancy";

        }])
        .filter('myReverse', function (input, uppcase) {
            var out = '';
            for (var i = 0; i < input.length; i++) {
                out += input.charAt(i);
            }
            if (uppcase) {
                out = out.toUpperCase();
            }
            return out;
        })
        .filter('uppercase', function (input) {
            return input.toUpperCase();

        })


</script>

</body>
</html>
