<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        [ng-cloak] {
            display: none;
        }

        .my-form.ng-invalid {
            background-color: red;

        }
    </style>
</head>
<body ng-cloak>
<div ng-controller="firstCtrl" class="container">
    <form action="" name="myForm">
        <div class="form-group">
            <label class="col-sm-2">个人介绍</label>
            <div class="col-sm-10">
                <custon-text-area ng-model="data.introduce"></custon-text-area>
                <custon-text-area ng-model="data.introduce"></custon-text-area>
            </div>
        </div>
    </form>

</div>
<script src="../node_modules/angular/angular.js"></script>
<script charset="utf-8" type="text/javascript">
    angular.module("myApp", [])
        .directive('custonTextArea', function () {
            return {
                restrict: 'E',
                replace: true,
                template: '<div contenteditable="true"></div>',
                require: 'ngModel',
                link: function (scope, elm, attrs, ngModelController) {

                    // view->model
                    elm.on('keyup', function () {
                        scope.$apply(function () {
                            ngModelController.$setViewValue(elm.html());
                        });
                    });

                    //model->view


                    ngModelController.$render = function () {
                        elm.html(ngModelController.$viewValue);
                    }

                }
            }
        })
        .controller('firstCtrl', ['$scope', function ($scope) {

        }]);

</script>
</body>
</html>
